{% load static %}

<!-- Sidebar Navigation-->
<nav id="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="{% static 'adminlte/img/avatar-6.jpg' %}" alt="..."
                                 class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h5">{{ request.user.get_full_name }}</h1>
            {% if request.user.is_superuser %}
                <p>مالک سایت</p>
            {% else %}
                <p>کاربر عادی</p>
            {% endif %}
        </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">مدیریت کتابخانه دانشگاه شاهرود</span>
    <ul class="list-unstyled">
        <li>
            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
                <i class="icon-windows"></i>کتاب </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="{% url 'account:list_book' %}"><i class="fa fa-book"></i>لیست کتاب ها </a></li>
                <li><a href="{% url 'account:create_book' %}"> <i class="fa fa-snowflake-o" aria-hidden="true"></i>اضافه
                    کردن کتاب </a></li>
            </ul>
        </li>
        <li>
            <a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse">
                <i class="fa fa-address-book" aria-hidden="true"></i>اعضا</a>
            <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                <li><a href="{% url 'account:list_member' %}"> <i class="fa fa-user-circle-o" aria-hidden="true"></i>لیست
                    اعضا </a></li>
                <li><a href="{% url 'account:create_book' %}"> <i class="fa fa-snowflake-o" aria-hidden="true"></i>اضافه
                    کردن کتاب </a></li>
            </ul>
        </li>
        <li><a href="login.html"> <i class="icon-logout"></i>Login page </a></li>
    </ul>
    <span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li><a href="#"> <i class="icon-settings"></i>Demo </a></li>
        <li><a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
        <li><a href="#"> <i class="icon-chart"></i>Demo </a></li>
    </ul>
</nav>
<!-- Sidebar Navigation end-->
